@charset "utf-8";

/* 共通
-----------------------------------------------------*/

/* h1 {
    color: #0079c3;
    text-align: left;
    margin: 0 auto;
    width: fit-content;
    font-size: 30px;
} */

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    /* background-color: #d5eff9; */
    /* background-color: #97cdf3; */
    color: #515151;
    /* #f8fcfb */
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.wrapper {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
}

section {
    background-color: #fff;
    border-radius: 20px;
    /* background-color: #F1F7F9; */
    /* border: 5px solid #0079c3; */
    margin-top: 50px;
    padding: 50px;
}

h2 {
    /* background-color: #0079c3; */
    /* border-radius: 5px; */
    color: #0079c3;
    margin-bottom: 30px;
    font-size: 25px;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-position: 15px 10px;
    padding-left: 50px;
    background-size: 30px;
    font-weight: 500;
}

.haikei {
    background-color: #d5eff9;
    background-image: url(../img/bg-haikei.png);
  background-position: center top;
  background-repeat: repeat-y;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
}

.slider img {
    width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
	transform: scale(0.9);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}






.slider img {
    border-radius: 68% 32% 77% 23% / 38% 70% 30% 62% ;
}

/* .slider {
    background-color: #fff;
} */

/* header
-----------------------------------------------------*/
.wave {
    background-color: #0068b7;

}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.top p {
    background-color: #ffad2d;
    border-radius:20px;
    padding: 10px 30px;
}


header {
    /* background-color: #0068b7; */
padding-top: 20px;
padding-bottom: 20px;
    text-align: center;
    background-image: url(../img/bg-1.png), url(../img/bg-top.png);
    background-repeat: repeat-x, no-repeat;
    background-position: center bottom -2px, center top;
    background-size: auto, 100%;
    background-color: #fff;
    height: 140px;
}

header img {
    width: auto;
    height: 80px;
    margin-top: 10px;
}

/* header p {
    color: #fff;
} */

.gnavi {
    justify-content: center;
    /* padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px; */
    /* background-color: #fff; */
}

.gnavi a {
    color: #fff;
}

.gnavi a:hover {
background-color: #ffad2d;
border-radius: 20px;
}

.gnavi-list {
    list-style: none;
}

/* .gnavi-item {
    color: #fff;
} */

/* .head {
    justify-content: space-between;
    align-items: center;
} */

li {
    font-size: 16px;
}

.gnavi li+li {
    margin-left: 35px;
}


/* h1 img {
    width: 40px;
} */

/* .open-time {
    max-width: 700px;
    background-color: #ffad2d;;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 18px;
} */

/* info
-----------------------------------------------------*/
.yellow {
    color: #ffad2d;
}


.sentence {
    margin-top: 1rem;
}



/* friend
-----------------------------------------------------*/
.grid {
    display: grid;
    place-items: center;
gap: 10px;
grid-template-columns: 1fr 1fr 1fr;
}


.friend p {
    margin-bottom: 1rem;
}

/* .flame {
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
}

.flame p {
    margin-top: 15px;
}

.img-box1 p,
.img-box2 p,
.img-box3 p {
    font-weight:400;
    font-size: 20px;
} */

/* money
-----------------------------------------------------*/
th,
td {
    /* border: 2px solid #0079c3; */
    width: 33%;
    padding: 10px;
    /* border: solid 1px #0079c3;
    padding-top: 15px;
    padding-bottom: 15px; */
}

th {
    background-color: #0079c3;
    color: #fff;
    border: 1px solid #0079c3;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    min-width: 300px;
    font-size: 14px;
    
    
    

    /* border: 1px solid; */
    /* width: 340px; */

}

td {
    text-align: right;
    padding-right: 0.5rem;
    background-color: #fff;
    border: 1px solid #0079c3
    
}

.size {
    font-size: 18px;
    margin-top: 1rem;
    color: #0079c3;
    font-weight: bold;
}

.line {
    border-right: 1px solid #fff;
}

/* th+th {
    border-left: 3px solid #fff;
} */

/* td:first-child {
    width: 140px;
    background-color: #0079c3;
    color: #f8fcfb;
    text-align: center;
} */

/* .right {
    text-align: right;
}

.font {
    font-size: 12px;
}

td:last-child {
    padding-right: 15px;
}

.size {
    font-size: 20px;
    font-weight:400;
    margin-top: 25px;
    margin-bottom: 10px;
}

.line {
    border-top: 2px solid #f8fcfb;
} */

/* サイドバー
-----------------------------------------------------*/
.contents {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 74%;
}

aside {
    width: 22%;
}

aside h3 {
    /* margin-top: 50px; */
    font-weight: normal;
    margin-top: 10px;
}

aside li {
    list-style-type: none;
}

aside p {
    margin-top: 1rem;
}

.a-right {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
}

.sub-title {
    color: #0079c3;
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
}

.sub-menu {
    margin-bottom: 20px;
    list-style: none;
}

.sub-menu li {
    border-bottom: 1px solid #ddd;
}

.sub-menu a {
    color: #515151;
    padding: 10px;
    display: block;
}

.sub-menu a:hover {
    color: #ffad2d;
}



/* footer
-----------------------------------------------------*/
footer {

    background-image: url(../img/bg-2.png);
    background-repeat: repeat-x;
    background-color: #0068b7;
margin-top: 100px;
color: #fff;
text-align: center;
}

.foot {
  padding-top: 60px;
  padding-bottom: 40px;
    /* : 100px; */
    /* padding-bottom: 25px;
    text-align: center; */
}

/* モバイル
-----------------------------------------------------*/
@media (max-width: 768px) {


    /* .head,
    .flame {
        flex-direction: column;
        align-items: center;
    } */

    .top {
        flex-direction: column;
        align-items: center;
    }

    .top p {
        font-size: 14px;
    }

    .gnavi {
        margin-top: 10px;
    }

    /* h1 {
        width: 100%;
    } */

    /* .gnavi li {
        margin-top: 35px;
        margin-bottom: 35px;
    } */

    .gnavi li {
        font-size: 14px;
    }

    .gnavi li+li {
        margin-left: 25px;
    }

    .img-box1 p {
        margin-bottom: 60px;
    }

    .img-box2 p {
        margin-bottom: 55px;
    }

    .img-box3 p {
        margin-bottom: 40px;
    }

    .foot {
        padding-bottom: 35px;
    }

    .contents {
flex-direction: column;
    }

    aside {
        width: 100%;
    }

    .main {
        width: 100%;
    }

    section {
        padding: 15px;
    }

    .grid {
    grid-template-columns: 1fr 1fr;
    }
}/* 消さない */